.nmr {
    width: 780px;
    overflow: hidden;
}

.wz {
    height: 32px;
    line-height: 32px;
    background: url(../images/webg.jpg) no-repeat;
}

.wz strong {
    color: #f00;
    padding-left: 30px;
    font-size: 14px;
}

.wz span {
    float: right;
    margin-right: 20px;
    color: #333
}

.nei {
    height: auto;
    padding: 10px;
}

.n1 {
    border: 1px solid #fbb;
    border-top: 0
}

.con {
    padding-top: 20px;
}

.con h1 {
    text-align: center;
    font-size: 20px;
    font-family: 微软雅黑
}

.info {
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
    color: #999
}

.summary{
    text-align: left;
    font-size: 13px;
    font-family: 楷体;
}

.cont p {
    line-height: 30px;
    font-size: 14px;
    text-indent: 25px;
    margin-top: 10px;
}

.cont {
    line-height: 30px;
    font-size: 14px;
    color: #333;
    padding-top: 20px;
    font-family: 新宋体;
}


.fl {
    float: left;
}

.sj {
    margin-left: 10px;
}


.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.class_type {
    background: url(../images/class_bg.gif) no-repeat right 6px;
    height: 40px;
    padding: 0 0 0 14px;
}

.side_list {
    margin: 12px 10px 12px;
}


.classlist li {
    position: relative;
    line-height: 22px;
    background: url(../images/arrow.gif) no-repeat 0 10px;
    padding: 0 130px 0 8px;
}

.classlist li.space {
    background: none;
    height: 22px;
}

.classlist li span {
    position: absolute;
    top: -1px;
    *top: -4px;
    right: 16px;
}

#friend {
    clear: both;
    width: 947px;
    height: 140px;
    margin: 0 auto;
}

.friend_t {
    height: 24px;
    border: 1px solid #b3b7ba;
    background: url(../images/friend_t.gif) repeat-x;
    padding: 4px 0 0 10px;
}


.friend_list ul {
    margin: 14px 10px 0;
}

.friend_list li {
    float: left;
    margin-right: 10px;
    white-space: nowrap;
}
.update_msg span{
    color: #0f0f0f;
    background-color: #0f0f0f;
}
.update_msg strong{
    color: #ff0000;
}

#footer {
    clear: both;
    width: 947px;
    margin: 14px auto 0;
    text-align: center;
}

#footer p {
    font: 14px/24px Arial;
    color: #999;
}

#footer p.copyright {
    color: #333;
    margin-top: 15px;
}